<div id="<%= dom_id hero %>">
  <p>
    <strong>Title:</strong>
    <%= hero.title %>
  </p>

  <p>
    <strong>Title 2:</strong>
    <%= hero.title_2 %>
  </p>
   
  
  <p>
    <strong>Sub title:</strong>
    <%= hero.sub_title %>
  </p>

  <p>
    <strong>Sub title 2:</strong>
    <%= hero.sub_title_2 %>
  </p>
 


  <p>
    <strong>pic</strong>
    <%= image_tag hero.pic , widht:'100', height:'100' %>
  </p>
 
  <p>
    <strong>Texte:</strong>
    <%= hero.texte %>
  </p>

  <p>
    <strong>Texte 2:</strong>
    <%= hero.texte_2 %>
  </p>

</div>
