<p style="color: green"><%= notice %></p>

<h1>OUR SHOP</h1>

  <div id="products" class="container " >
    <div class="grid-container-shop">
      <% @products.each do |product| %>
       <div class="grid-item">
          <%= link_to  product do %>
              <%= render(MicrocardComponent.new(price: 100,product: product)) %>
          <%end%>
       </div>
      <% end %>
        <%= link_to "New product", new_product_path %>
        <%=render 'layouts/footer'%>
   </div>
 
</div>



